# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/bin/
sessions/
#HTTPS certification files in bin bolder
.rnd
ca.crt
ca.key
certificate.pem
ia.crt
ia.csr
ia.key
ia.p12